#Titl
{ color: blue;

}
.abc
{color: red;}
.navbar-brand
{ color: blue; }
/*carouselExampleIndicators
{width:90%;
 height: 200px;
}*/
/*.carousel-inner{width: 70%;
	margin: auto;
	height: 10%;
	
}
.carousel-item
{
	width: 30%;
	height: auto;
}*/
#carouselExampleIndicators img
{
width:90%;
 height: 520px;
}
.card-group{
	margin-top:  50px;

}
.navbar-brand
{
	color: red;
}